h1 {
    text-align: center;
    line-height: 0.2;
}

p {
    font-size: 15px;
    line-height: 0;
    /*行间距，默认是2*/
    letter-spacing: 1px;
    /*字间距，默认是1px*/
}

td {
    text-align: center;
}

span {
    font-size: 20px;
    font-style: italic;
}

footer {
    font-size: 10px;
    text-align: right;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: whitesmoke;
    text-align: center;
}